body {
  background-image: url("./bottomImg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.logo{
  width: 120px;
  height: 100px;
}

.contents {
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.heading {
  font-size: 25px;
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  color: #F5DCB9;
}

.subheading{
  font-size: 100px;
  font-weight: bold;
  font-family: "Work Sans", sans-serif;
  color: #F5DCB9;
}
